.body {
	font-family: Arial, sans-serif;
	background-color: red;
}

header {
	background-color: #333;
	color: #fff;
	padding: 10px;
	text-align: center;
}

main {
	margin: 0 auto;
	max-width: 500px;
	padding: 20px;
	background-color: #fff;
	box-shadow: 0 0 10px #ddd;
	border-radius: 5px;
}

form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

label {
	flex: 1 0 40%;
	margin-right: 20px;
}

input[type="number"] {
	flex: 1 0 40%;
	padding: 5px;
	border-radius: 3px;
	border: 1px solid #ccc;
	outline: none;
}

button {
	flex: 1;
	padding: 10px;
	background-color: #333;
	color: #fff;
	border-radius: 3px;
	border: none;
	cursor: pointer;
	transition: background-color 0.2s ease-in-out;
    height: 200
}

button:disabled {
	background-color: #ccc;
	cursor: not-allowed;
}

button:hover {
	background-color: #444;
}

#tips, #error {
	padding: 10px;
	text-align: center;
	background-color: #eee;
	border-radius: 3px;
	box-shadow: 0 0 5px #ccc;
	margin-bottom: 20px;
}

